<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airline.repository.CompanyRepository">
	<select id="queryCompany" parameterType="String" resultType="company">
		select * from company where companyName = #{companyName}
	</select>
	
	<select id="queryCompanys" resultType="company">
		select * from company
	</select>
	
	<delete id="deleteCompany" parameterType="String">
		delete from company where companyName = #{companyName}
	</delete>
	
	<insert id="insertCompany" parameterType="company">
		insert into company values(0,#{companyName},#{companyCode},#{companyInfo},#{companyUrl},#{companyPhone},#{copper},#{silver},#{gold})
	</insert>
	
	<update id="updateCompany" parameterType="company">
		update company 
		<set>
			<if test="companyCode!=null and companyCode!=''">
				companyCode=#{companyCode},
			</if>
			<if test="companyInfo!=null and companyInfo!=''">
				companyInfo=#{companyInfo},
			</if>
			<if test="companyUrl!=null and companyUrl!=''">
				companyUrl=#{companyUrl},
			</if>
			<if test="companyPhone!=null and companyPhone!=''">
				companyPhone=#{companyPhone},
			</if>
			<if test="copper!=null">
				copper=#{copper},
			</if>
			<if test="silver!=null">
				silver=#{silver},
			</if>
			<if test="gold!=null">
				gold=#{gold},
			</if>
		</set> where companyName = #{companyName}
	</update>
</mapper>
