<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airline.repository.CustomerRepository">
	<select id="queryCustomer" parameterType="String" resultType="customer">
		select * from customer where customerName = #{customerName}
	</select>
	
	<select id="queryCustomers" resultType="customer">
		select * from customer
	</select>

	<insert id="insertCustomer" parameterType="customer">
		insert into customer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			customerName,
			<if test="password != ''">
				password,
			</if>
			<if test="realName != ''">
				realName,
			</if>
			<if test="IDNumber != ''">
				IDNumber,
			</if>
			<if test="phone != ''">
				phone,
			</if>
			<if test="email != ''">
				email,
			</if>
			<if test="sex != ''">
				sex,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{customerName},
			<if test="password != ''">
				#{password},
			</if>
			<if test="realName != ''">
				#{realName},
			</if>
			<if test="IDNumber != ''">
				#{IDNumber},
			</if>
			<if test="phone != ''">
				#{phone},
			</if>
			<if test="email != ''">
				#{email},
			</if>
			<if test="sex != ''">
				#{sex},
			</if>
		</trim>
	</insert>
	
	<update id="editPassword" parameterType="customer">
		update customer set password = #{password} where customerName = #{customerName}
	</update>
	
	<update id="editInfo" parameterType="customer">
		update customer set phone = #{phone},email = #{email} where customerName = #{customerName}
	</update>
</mapper>
