@charset "utf-8";
/* CSS Document */
div.error_msg{ margin: 0;padding: 0;position: relative;text-align: center;}
abbr, address, article, aside, audio, canvas, command, datalist, details, dialog, figure, figcaption, footer, header, hgroup, keygen, mark, meter, menu, nav, progress, ruby, section, summary, time, video { margin:0; padding:0; border:0; display:block;}
a:link, a:visited, a:active { color:#666; text-decoration: none;}
a:hover { color: #333; text-decoration: none;}
body { color: #333; font-family:Microsoft Yahei, Arial, Helvetica, sans-serif; background:#fff url(../images/main-bg.jpg) left top; font-size: 12px; margin: 0; padding: 0;}
p { margin-top:0px; margin-bottom:10px; line-height:180%; }
form { border: 0; margin: 0; padding: 0; display: inline;}
h1,h2,h3,h4 { margin:0;}
h1 { font-size:20px;}
h2 { font-size:18px;}
h3 { font-size:16px;}
h4 { font-size:14px;}
ul,ol,dl,dd,dt { margin:0; padding:0; display:block;}
li { list-style:none;}
img { border: 0; vertical-align:middle;}
img.imgLeft { float:left; margin-right:20px;}
.clear { clear:both; height:0; *height:auto; overflow:hidden; *overflow:inherit;}
input, select, textarea { font-size:12px; font-family:Microsoft Yahei, Arial, Helvetica, sans-serif;}
select { padding:2px; border:1px #ccc solid;}
textarea { padding:5px; height:100px;}
input.input { border:1px #9797af solid; background-color:#f5f5f8; height:18px; padding:2px;}
input.input.city { background:#f5f5f8 url(../images/icon-map.png) top 7px right 1px  no-repeat; padding-right:30px!important; overflow:hidden; }
input.input.date { background:#f5f5f8 url(../images/icon-map.png) right -36px no-repeat; padding-right:30px!important; overflow:hidden;}
input.input.disabled { border:1px #ccc solid!important; background-color:#dcdde0!important; color:#ccc!important;}
input.input:hover { border:1px #D8B166 solid; box-shadow:0 0 1px #F1CA7E;}
input:focus, select:focus, textarea:focus { }
input:hover, select:hover, textarea:hover {  }
input[type=checkbox],input[type=radio] { border:0; display: inline-block; margin: 0 2px 0 0; padding: 0;width:14px;height:14px; vertical-align:text-top;}
input[type=text] { }
input[type=submit] { }
input.button { height:28px; line-height:28px; text-align:center; overflow:visible; border:1px #28358B solid; padding:0 12px; color:#fff; background: url(../images/globle/bg-button.jpg) left top repeat-x; cursor:pointer;}
input.button:hover { background-position: left -30px;}
input.button:active { background-position: left -60px;}
input.button.lightred { border:1px #BF2C2A solid; background-position: left -90px; font-weight:bold;}
input.button.lightred:hover { background-position: left -120px;}
input.button.lightred:active { background-position: left -150px;}
input.button.red { border:1px #813630 solid; background-position: left -180px; font-weight:bold;}
input.button.red:hover { background-position: left -210px;}
input.button.red:active { background-position: left -240px;}
input.button.gray { background-position: left -270px;}
input.button.gray:hover { background-position: left -300px;}
input.button.gray:active { background-position: left -330px;}
input.button-red { width:260px; height:50px; line-height:50px; text-align:center; color:#fff; font-size:24px; border:0; background:#CC3333 url(../images/globle/icon-map.png) 220px -88px no-repeat; cursor:pointer;}
input.button-red:hover { background-color:#BD2F2F;}
input.button-blue { width:260px; height:50px; line-height:50px; text-align:center; color:#fff; font-size:24px; border:0; background:#262F72 url(../images/globle/icon-map.png) 220px -88px no-repeat; cursor:pointer;}
input.button-blue:hover { background-color:#1F275F;}

/*-----------颜色-----------*/
.red, .red a:link, .red a:visited, .red a:active { color:#EC1623;}
.red a:hover { text-decoration:underline;}
.blue, .blue a:link, .blue a:visited, .blue a:active { color:#1D1F92;}
.blue a:hover { text-decoration:underline;}
.white, .white a:link, .white a:visited, .white a:active { color:#fff;}
.white a:hover { text-decoration:underline;}
.underline, .underline a:link, .underline a:visited, .underline a:active { text-decoration:underline;}
.underline a:hover { text-decoration:none;}


/*----------公共样式-------------*/
.digital { height:22px; line-height:22px;}
.digital b { float:left; font-weight:normal; margin-right:5px;}
.digital i { float:left; width:16px; height:20px; line-height:20px; font-style:normal; text-align:center; border:1px #ccc solid; background-color:#ccc; color:#666; cursor:pointer; -moz-user-select: none; }/*火狐*/
-webkit-user-select: none; /*webkit浏览器*/
-ms-user-select: none; /*IE10*/
-khtml-user-select: none; /*早期浏览器*/
user-select: none;}
.digital i:hover { border:1px #D8B166 solid; box-shadow:0 0 1px #F1CA7E; color:#272785;}
.digital .input-num { float:left; width:15px; height:16px; padding:2px; border:1px #ccc solid; border-left:none; border-right:none; color:#666; text-align:center;}
.switch-tab { height:30px;}
.switch-tab b { display:block; font-weight:normal; font-size:14px;}
.switch-tab li { float:left; padding:0 10px; height:22px; line-height:22px; border:1px #ccc solid; cursor:pointer;
background-image: -moz-linear-gradient(top, #ffffff, #cccccc); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #cccccc)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc', GradientType='0'); /* IE*/
 -moz-user-select: none; /*火狐*/
-webkit-user-select: none; /*webkit浏览器*/
-ms-user-select: none; /*IE10*/
-khtml-user-select: none; /*早期浏览器*/
user-select: none;}
.switch-tab li.active {background-image: -moz-linear-gradient(top, #cccccc, #ffffff); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cccccc), color-stop(1, #ffffff)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff', GradientType='0'); /* IE*/}
.switch-tab-blue { height:30px; line-height:30px; border-bottom:1px #ccc solid; margin-top:10px; padding:0 0 1px;}
.switch-tab-blue b { float:left; padding-right:6px; font-weight:normal; }
.switch-tab-blue li { float:left; padding:0 10px; margin-left:1px; height:30px; cursor:pointer; background-color:#d9dbeb;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.switch-tab-blue li.active { background-color:#515db4; color:#fff;}
.b_content, .b_content_inner, none { display:none;}
.block { display:block;}

/*--------5.页面顶部到菜单部分--------*/
header#header { min-width:990px; height:75px; background:#fff url(../images/bg.jpg) left top; border-bottom:3px #CC3333 solid; text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px; *position:relative; *z-index:6;}
header#header hgroup { margin:0 auto; width:990px; position:relative;}
header#header h2 { float:left;  padding-top:12px;}header#header .topLogo{ float:left;  padding-left:70px;*padding-left:50px;}header#header abbr { float:right; width:52px; margin-top:10px; margin-left:20px; padding-top:35px; background:url(../images/globle/icon_virtual.png) top center no-repeat; text-align:center; }
header#header address { float:right; *width:150px; text-align:right; margin:26.5px 0 0 0px;*margin:10px 0 0 0; font-style:normal; color:#1D1F92;}
header#header address.text {}
header#header address.text p { height:25px; line-height:25px; margin-bottom:5px;}
header#header .szn { position:absolute; left:415px; top:0; height:75px; overflow:hidden;visibility: hidden;}

menu#menu { background:url(../images/bg-map.jpg) left top repeat-x; *position:relative; *z-index:5;}
menu#menu nav { margin:0 auto; width:930px; height:64px; padding-left:60px;}
menu#menu nav li { float:left; width:130px; padding-left:20px; margin-left:-9px; font-size:16px; color:#fff; font-weight:bold; line-height:64px; position:relative; cursor:pointer; z-index:5;}
menu#menu nav li i { position:absolute; right:0; top:0; width:79px; height:64px; background:url(../images/bg-menu.png) right top no-repeat; z-index:9;}
menu#menu nav li.current {background-color:#CC3333;}
menu#menu nav li#menu-home i { background-position: right top;}
menu#menu nav li#menu-myceair i { background-position: right -70px;}
menu#menu nav li#menu-booking i { background-position: right -140px;}
menu#menu nav li#menu-status i { background-position: right -210px;}
menu#menu nav li#menu-selfservice i { background-position: right -280px;}
menu#menu nav li#menu-guide i { background-position: right -350px;}
menu#menu nav li.current#menu-home i { background-position: 9px top;}
menu#menu nav li.current#menu-myceair i { background-position: 9px -70px;}
menu#menu nav li.current#menu-booking i { background-position: 9px -140px;}
menu#menu nav li.current#menu-status i { background-position: 9px -210px;}
menu#menu nav li.current#menu-selfservice i { background-position: 9px -280px;}
menu#menu nav li.current#menu-guide i { background-position: 9px -350px;}

span.more { background:url(../images/globle/icon_map.gif) left -150px no-repeat; padding-left:25px;}

section#background { height:580px; z-index:7; background:center top no-repeat;}
/*section#background.hue-rotate {
-webkit-animation-name:hue-rotate;
-webkit-animation-duration:15s;
-webkit-animation-delay:0;
-webkit-animation-timing-function:linear;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;}*/
@-webkit-keyframes hue-rotate
{
0% { -webkit-filter:hue-rotate(-180deg);}
100% { -webkit-filter:hue-rotate(0deg);}
}


@keyframes widget_preview
{
0% { transform: translateY(0);}
20% { transform: translateY(-110px);}
60% { transform: translateY(-110px);}
80% { transform: translateY(0);}
100% { transform: translateY(0);}
}

@-moz-keyframes widget_preview
{
0% { transform: translateY(0);}
20% { transform: translateY(-110px);}
60% { transform: translateY(-110px);}
80% { transform: translateY(0);}
100% { transform: translateY(0);}
}

@-webkit-keyframes widget_preview
{
0% { transform: translateY(0);}
20% { transform: translateY(-110px);}
60% { transform: translateY(-110px);}
80% { transform: translateY(0);}
100% { transform: translateY(0);}
}

section#long_ad{margin:0 auto;width:990px;}
section#long_ad img{width:990px;height:190px;}

section#promotion,section#zhuanqu { margin:0 auto; width:990px; background-color:#fff;}
section#promotion h2, section#zhuanqu h2{ float:left; width:190px; height:140px; line-height:40px; font-size:30px; text-align:center; padding-top:50px; font-weight:normal; background-color:#262f72; color:#fff;}
section#promotion .latest-promotion { float:left; width:760px; height:179px; padding:10px 20px 0; border-bottom:1px #ddd solid; font-size:14px; position:relative;}
section#promotion .latest-promotion b { display:block; margin-bottom:10px; font-size:16px; font-weight:normal;}
section#promotion .latest-promotion .text { max-height:110px; overflow:hidden; color:#666; font-size:12px;}
section#promotion .latest-promotion span.more { position:absolute; bottom:10px; right:27px; font-size:12px;}




section#blank { height:0px;}

section.menu-dropdown {margin: 35 auto;width: 990px; height: 250px ; padding-top: 0px; background:url(../images/bg-dropdown.png) left top repeat;  z-index:9;}
section.menu-dropdown .b_content { width:760px;}
.contentTips{color: #999999;}
section.menu-dropdown #tabCarrent { width:auto;}
section.menu-dropdown #status { width:425px; padding:0 0 10px; background:url(../images/globle/bg-status-search.gif) 205px 55px no-repeat;}
section.menu-dropdown #guide { width:270px;}
section.menu-dropdown #status .switch-tab { height:44px;}
section.menu-dropdown ul.category { height:30px; margin-bottom:20px; border-bottom:5px #272785 solid; width: 990px;}
section.menu-dropdown#dropdown-status ul.category {*width:425px;}
section.menu-dropdown#dropdown-guide ul.category {*width:270px;}
section.menu-dropdown ul.category li { float:left; width:102px; height:30px; line-height:30px; font-size:18px; color:#fff; cursor:pointer; background-color: #272785; padding-left: 60px;}
section.menu-dropdown ul.category.one li { width:100%;}
section.menu-dropdown .input { width:164px; font-size:14px; padding:5px; height: 30px;}
section.menu-dropdown .input.code { width:130px;}
section.menu-dropdown .input.long { width:220px;}
section.menu-dropdown .select { font-size:14px; padding:4px;}
section.menu-dropdown #status .input.city { width:76px;}

section.menu-dropdown #booking dl.flight-type { height:22px; padding-bottom:10px; }
section.menu-dropdown #booking dl.flight-type dt { float:left; height:22px; line-height:22px; padding:0 20px; text-align:center; background-color:#d4d4d5; cursor:pointer;}
section.menu-dropdown #booking dl.flight-type dt.active { background-color:#272785; color:#fff;}
section.menu-dropdown #booking dl.flight-type dd { float:right; }
section.menu-dropdown dl.form-field {font-size: 16px; clear:both; width:100%; display:inline-block; padding-bottom:10px; position:relative; margin-left: 200px;}
section.menu-dropdown dl.form-field.center { text-align:center; padding-top:10px;}
section.menu-dropdown dl.form-field.text { color:#999; }
section.menu-dropdown dl.form-field dt { float:left; width:50%;}
section.menu-dropdown dl.form-field dd { float:right; width:50%;}
section.menu-dropdown dl.form-field dd input { float:right;}

section.menu-dropdown dl.form-field ul.status-search-tab { height:30px; line-height:30px; margin-top:10px;}
section.menu-dropdown dl.form-field ul.status-search-tab li { float:left; width:190px; padding-left:20px; cursor:pointer;}
section.menu-dropdown dl.form-field ul.status-search-tab li.active { background:url(../images/globle/icon_map.gif) left -120px no-repeat;}

section.menu-dropdown dl span.seleType{display:block;height:28px;}
section.menu-dropdown dl span.active{background:url(../images/globle/icon_map.gif) left -125px no-repeat;padding-left:20px;}
section.menu-dropdown dl.form-field#flightCity { float:left; width:170px; clear:none; border:1px transparent dashed; padding:5px 10px;}
section.menu-dropdown dl.form-field#flightCity:hover { border:1px #ccc dashed;}
section.menu-dropdown dl.form-field#flightNo { float:right; width:175px; clear:none; border:1px transparent dashed; padding:5px 10px;}
section.menu-dropdown dl.form-field#flightNo:hover { border:1px #ccc dashed;}
section.menu-dropdown dl.form-field#flightCity .input { width:110px;}
section.menu-dropdown dl.form-field#flightNo .input { width:160px;}
section.menu-dropdown dl.form-field.disabled input { border:1px #ccc solid; background-color:#DCDDE0; color:#ccc;}

section.menu-dropdown p.btn { text-align:center; margin:0; padding:10px 0; position:relative; width: 990px;}
section.menu-dropdown p.btn i { position:absolute; top:0; right:-200px; filter:alpha(opacity=0); -moz-opacity:0; opacity: 0;}
section.menu-dropdown p.text { text-align:center; color:#999;}

/*首页限时促销按钮效果*/
@keyframes myfirst
{
0% { box-shadow: 0px 0px 1px red;}
10% { box-shadow: 0px 0px 2px red;}
20% { box-shadow: 0px 0px 3px red;}
30% { box-shadow: 0px 0px 4px red;}
40% { box-shadow: 0px 0px 6px red;}
50% { box-shadow: 0px 0px 8px red; background-color:#CC3333;}
60% { box-shadow: 0px 0px 6px red;}
70% { box-shadow: 0px 0px 4px red;}
80% { box-shadow: 0px 0px 3px red;}
90% { box-shadow: 0px 0px 2px red;}
100% { box-shadow: 0px 0px 1px red;}
}

@-moz-keyframes myfirst /* Firefox */
{
0% { box-shadow: 0px 0px 1px red;}
10% { box-shadow: 0px 0px 2px red;}
20% { box-shadow: 0px 0px 3px red;}
30% { box-shadow: 0px 0px 4px red;}
40% { box-shadow: 0px 0px 6px red;}
50% { box-shadow: 0px 0px 8px red; background-color:#CC3333;}
60% { box-shadow: 0px 0px 6px red;}
70% { box-shadow: 0px 0px 4px red;}
80% { box-shadow: 0px 0px 3px red;}
90% { box-shadow: 0px 0px 2px red;}
100% { box-shadow: 0px 0px 1px red;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
0% { box-shadow: 0px 0px 1px red;}
10% { box-shadow: 0px 0px 2px red;}
20% { box-shadow: 0px 0px 3px red;}
30% { box-shadow: 0px 0px 4px red;}
40% { box-shadow: 0px 0px 6px red;}
50% { box-shadow: 0px 0px 8px red; background-color:#CC3333;}
60% { box-shadow: 0px 0px 6px red;}
70% { box-shadow: 0px 0px 4px red;}
80% { box-shadow: 0px 0px 3px red;}
90% { box-shadow: 0px 0px 2px red;}
100% { box-shadow: 0px 0px 1px red;}
}
#nav_menu_2 .btn { position:relative;}
#nav_menu_2 .btn i { position:absolute; right:-200px; top:8px; opacity:0;}
#btn_limit_search {background: none repeat scroll 0px 0px red; width: 0; padding:0!important; overflow:hidden; box-shadow: 0px 0px 5px red;
animation-name:myfirst;
animation-duration:1s;
animation-timing-function:linear;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;
/* Firefox: */
-moz-animation-name:myfirst;
-moz-animation-duration:1s;
-moz-animation-timing-function:linear;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:alternate;
-moz-animation-play-state:running;
/* Safari and Chrome: */
-webkit-animation-name:myfirst;
-webkit-animation-duration:1s;
-webkit-animation-timing-function:linear;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
/* Opera: */
-o-animation-name:myfirst;
-o-animation-duration:1s;
-o-animation-timing-function:linear;
-o-animation-iteration-count:infinite;
-o-animation-direction:alternate;
-o-animation-play-state:running;
}


section.menu-dropdown dl.form-field dd input { float:none;}

/*--------------------*/


/*--------6.页角部分--------*/
footer#footer { height:100px; background:#fff url(../images/globle/footer.jpg) left top; text-shadow: rgba(0, 0, 0, .95) 0px 1px 0px; box-shadow:0 0 10px #666; color:#fff; z-index:10; }
footer#footer.fixed { position:fixed; bottom:0; left:0; width:100%;}
footer#footer hgroup { margin:0 auto; width:950px; line-height:200%; padding:20px;  position:relative; z-index:8;}
footer#footer i { position:absolute; right:20px; top:30px;}
footer#footer a:link, footer#footer a:visited, footer#footer a:active { margin:0 2px; color:#fff;} 
/*--------------------*/



.bottom_banner{margin: -35px auto 0;width: 990px;position: relative;}



section.primary-promotion{margin: 0 auto;width: 990px;position: relative;z-index: 8; background: url(../images/bg-dropdown.png) left top repeat; height: 680px;}
section.primary-promotion .cover{float: left;width: 62%;}

section.primary-promotion .cover img{width: 600px; height: 272px;}








section.primary-promotion .description{float: left;width: 30%;line-height: 1;margin: 30px 0 0 30px; color: #4c4c4c;}
section.primary-promotion .destination-medium-up{font-size: 2.2em;}
section.primary-promotion .item{border-top: 1px solid #272785;width:100%; margin-top: 14px; }
section.primary-promotion .item .group{position: relative;line-height: 1.5;font-style: normal;font-size: 1.25em;}
section.primary-promotion .item .group a{text-decoration: none;}
section.primary-promotion .item .group .type{color: #0f748f;font-size: 1.25em;}
.group .miscellenous{}

section.primary-promotion  .secondary-promotions{ clear: both; padding-top: 50px;padding-left: 40px;}
section.primary-promotion  .secondary-promotions a{text-decoration: none;}
section.primary-promotion  .secondary-promotions ul{ clear: both; }
section.primary-promotion  .secondary-promotions ul li.item1 { float: left; width: 311px;}
section.primary-promotion  .secondary-promotions .cover-img{float: left;}
section.primary-promotion  .secondary-promotions .cover-img img{border-radius: 133px;}
section.primary-promotion  .secondary-promotions .information{float: left; margin-top: 25px; margin-left: 5px;width: 46%;padding: .5em 0 0 1em;}
section.primary-promotion  .secondary-promotions .information .title{padding: 0 .25em .25em 0;line-height: 1.2;font-size: 1.25em;}
section.primary-promotion  .secondary-promotions .information .category{color: #0f748f;}
section.primary-promotion  .secondary-promotions .information .price{color: #0f748f; line-height: 1.2;font-size: 1em;}
section.primary-promotion  .secondary-promotions .information .cabin-class{font-size: .75em;margin-top: 10px; padding: 0 .5em .833em 0; border-top: 1px solid;}



